@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

// Primary
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral
$veryDarkBlueBG: hsl(217, 54%, 11%);
$veryDarkBlueCard: hsl(216, 50%, 16%);
$veryDarkBlueLine: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
    color: $softBlue;
}